body{
    background-color: #E9C189;
  }
  .container{
    width: 220px;
    height: 460px;
    margin: 4vh auto;
    background-color: #493B30;
    padding-top: 6vh;
    border-radius: 5px;
    box-shadow: 1px 1px 13px 4px #493b3096;
  }
  #countdown{
    background-color: white;
    width: 160px;
    height: 195px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #00A0B0;
  }
  label{
    color: #00A0B0;
    font-size: 4vw;
    font-weight: bold;
  }
  .session{
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 3vh 0;
  }
  hr {
    border: none;
    border-top:1px dotted white; 
    color: #493B30;
    width:90%;
  }
  span{
    color: white;
    font-size: 12px;
    margin-top: 60px;
    margin-left: 35px;
  }
  #stime{
    color: #00A0B0;
    margin-top: 50px;
    margin-left:  50px;
  }
  #btime{
    color: #A4553A;
    margin-top: 50px;
    margin-left: 60px;
  }
  button{
    background-color: #1C1815;
    color: white;
    border: none;
    width: 20px;
    border-radius: 2px;
    height: 16px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .decrease{
    margin-top: 10px;
    margin-left: 40px;
  }
  .increase{
    margin-top: 10px;
    margin-left: 8px;
  }
  #start{
    margin-top: 30px;
    margin-left: 28px;
    background-color: #1C1815;
    width: 70px;
    height: 30px
  }
  #reset{
    margin-top: 30px;
    margin-left: 30px;
    background-color: #1C1815;
    width: 70px;
    height: 30px;
  }